{% extends "app.html" %} {% block content %}
<!-- About Start -->
<section id="about" class="about section-space-padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="section-title">
                    <h2>Candidate Application</h2>
                    <div class="divider dark">
                        <i class="icon-emotsmile"></i>
                    </div>
                    <p>Application for {{ poll.active.name }}</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-offset-3 col-md-6">
                <div class="about-me-text pattern-bg margin-top-50 margin-bottom-50" id="applydiv">
                    <form action="" method="post" id="apply">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <select name="poll" id="poll" class="form-control">
                                    {% for poll in data.polls %}
                                    <option value="{{ poll.id }}">{{ poll.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="col-sm-12">
                            <div class="form-group">
                                <select name="position" id="position" class="form-control">
                                    {% for position in data.positions %}
                                    <option value="{{ position.id }}">{{ position.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="text-center">
                            {% if data.polls %}
                            <button class="button button-style button-style-dark button-style-color-2" id="applybtn">Submit Application</button>
                            {% else %}
                            <button class="button button-style button-style-dark button-style-color-2" id="applybtn" dis>Submit Application</button>
                            {% endif %}
                        </div>
                    </form>
                </div>

            </div>

        </div>
    </div>
</section>

<!-- Skills Modal Start -->
<div class="modal fade padding-top-70" id="skillmodal" role="dialog">
    <div class="modal-dialog">

        <div class="modal-content pattern-bg">
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="section-title margin-top-30">
                            <button type="button" class="btn pull-right" data-dismiss="modal">
                                <i class="fa fa-close"></i>
                            </button>
                            <h2>My Skills.</h2>
                            <div class="divider dark">
                                <i class="icon-energy"></i>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-offset-2 col-xs-offset-0 col-md-8 col-sm-8">

                        <div class="my-skill margin-bottom-50">
                            <strong>Graphic Design</strong>
                            <span class="pull-right">80%</span>
                            <div class="progress">
                                <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"
                                    style="width: 80%;"></div>
                            </div>

                            <strong>Website Design</strong>
                            <span class="pull-right">99%</span>
                            <div class="progress">
                                <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="99" aria-valuemin="0" aria-valuemax="100"
                                    style="width: 99%;"></div>
                            </div>

                            <strong>HTML5/CSS3</strong>
                            <span class="pull-right">85%</span>
                            <div class="progress">
                                <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"
                                    style="width: 85%;"></div>
                            </div>

                            <strong>Javascript</strong>
                            <span class="pull-right">90%</span>
                            <div class="progress">
                                <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"
                                    style="width: 90%;"></div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Skills Modal End -->

<!-- Subscribe Modal Start -->
<div class="modal fade subscribe padding-top-120" id="subscribemodal" role="dialog">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="section-title margin-top-30">
                            <button type="button" class="btn pull-right" data-dismiss="modal">
                                <i class="fa fa-close"></i>
                            </button>
                            <h2>Subscribe.</h2>
                            <div class="divider dark">
                                <i class="icon-envelope-letter"></i>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-offset-2 col-xs-offset-0 col-md-8 col-sm-8">

                        <div class="margin-bottom-50">
                            <form id="mc-form" method="post" action="http://uipasta.us14.list-manage.com/subscribe/post?u=854825d502cdc101233c08a21&amp;id=86e84d44b7">

                                <div class="subscribe-form">
                                    <input id="mc-email" type="email" placeholder="Email Address" class="text-input">
                                    <button class="submit-btn" type="submit">Submit</button>
                                </div>
                                <label for="mc-email" class="mc-label"></label>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Subscribe Modal End -->
<!-- About End -->
{% endblock %}