{% extends "app.html" %}

{% block content %}
    {% if poll.active.id %}
        <!-- Home Section Start -->
        <section class="home-section">
            <div class="container">
                <div class="row">

                    <div class="col-sm-offset-2 col-md-4 col-sm-6 margin-left-setting">
                        <div class="margin-top-150">

                            <div class="table-responsive">
                                <table class="table">
                                    <tr>
                                        <td>Name</td>
                                        <td>{{ poll.active.name }}</td>
                                    </tr>
                                    <tr>
                                        <td>Description</td>
                                        <td>{{ poll.active.description }}</td>
                                    </tr>
                                    <tr>
                                        <td>Start</td>
                                        <td>{{ poll.active.starts }}</td>
                                    </tr>
                                    <tr>
                                        <td>End</td>
                                        <td>{{ poll.active.ends }}</td>
                                    </tr>
                                    <!-- <tr> <td>Contact</td> <td>1234567890</td> </tr> <tr> <td>Resume</td> <td style="background-color: #51b968;"><a href="#" target="_blank" data-toggle="tooltip" data-placement="top" title="Check Out My Resume">Resume.pdf</a></td> </tr> -->
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-5 col-sm-6">
                        <div class="me-image">
                            <img src="{{ base_url() }}/resources/assets/images/bg/people_new.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Home Section End -->

    {% else %}
<section class="home-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-offset-2 col-md-4 col-sm-6 margin-left-setting">
                <div class="margin-top-150">
                    <h2>No active election at the moment</h2>
                </div>
            </div>
        </div>
    </div>
</section>
{% endif %}
{% endblock %}