{% extends "app.html" %}

{% block content %}
    {% if poll.active.id %}
        <!-- Home Section Start -->
        <section class="home-section">
            <div class="container">
                <div class="row">

                    <div class="col-sm-offset-2 col-md-4 col-sm-6 margin-left-setting">
                        <div class="margin-top-150">

                            <div class="table-responsive">
                                <table class="table">
                                    <tr>
                                        <td>Name</td>
                                        <td>{{ poll.active.name }}</td>
                                    </tr>
                                    <tr>
                                        <td>Description</td>
                                        <td>{{ poll.active.description }}</td>
                                    </tr>
                                    <tr>
                                        <td>Start</td>
                                        <td>{{ poll.active.starts }}</td>
                                    </tr>
                                    <tr>
                                        <td>End</td>
                                        <td>{{ poll.active.ends }}</td>
                                    </tr>
                                    <!-- <tr> <td>Contact</td> <td>1234567890</td> </tr> <tr> <td>Resume</td> <td style="background-color: #51b968;"><a href="#" target="_blank" data-toggle="tooltip" data-placement="top" title="Check Out My Resume">Resume.pdf</a></td> </tr> -->
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-5 col-sm-6">
                        <div class="me-image">
                            <img src="{{ base_url() }}/resources/assets/images/bg/people_new.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Home Section End -->

    {% endif %}

    <!-- About Start -->
    <section id="about" class="about section-space-padding">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="section-title">
                        <h2>About</h2>
                        <div class="divider dark">
                            <i class="icon-emotsmile"></i>
                        </div>
                        <p>Nigeria i-voting</p>
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="col-md-offset-3 col-md-6">
                    <div class="about-me-text margin-top-50">
                        <p>
                            An election is a formal group decision making process by which a population chooses an individual to hold public office. Nigeria i-voting platform is a user friendly website that so thoroughly covers everything that even first time user can administer elections from start to finish with continence.
                            <b>Note: All vote counts</b>
                        </p>
                        <ul class="social-icon">
                            <li>
                                <a href="https://facebook.com" target="_blank" class="facebook">
                                    <i class="icon-social-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank" class="twitter">
                                    <i class="icon-social-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank" class="behance">
                                    <i class="icon-social-behance"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank" class="dribbble">
                                    <i class="icon-social-dribbble"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>
<!-- About End -->

{% endblock %}