{% extends "auth/auth.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="margin-top-30 margin-bottom-50">
                <div class="row">
                    <div class="col-md-offset-3 col-sm-offset-2 col-md-6 col-sm-8">
                        <div class="row">
                            <div class="contact-us-detail">
                                <a href="{{ path_for('auth.signin') }}">Sign in</a>
                            </div>
                            <form class="contact-us pattern-bg" method="POST" action="{{ auth.signup }}" enctype="multipart/form-data">

                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <input type="file" class="form-control" name="image" id="image"  placeholder="Your Photograph">
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input type="email" class="form-control" name="email" id="email" value="{{ oldFormInput.email }}" placeholder="Your Email">
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="surname" id="surname" value="{{ oldFormInput.surname }}" placeholder="Surname">
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="first_name" id="first_name" value="{{ oldFormInput.first_name }}" placeholder="First Name">
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="last_name" id="last_name" value="{{ oldFormInput.last_name }}" placeholder="Last Name">
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="nationality" id="nationality" value="{{ oldFormInput.nationality }}" placeholder="Nationality">
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="state_of_origin" id="state_of_origin" value="{{ oldFormInput.state_of_origin }}" placeholder="State of origin">
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="local_government" id="local_government" value="{{ oldFormInput.local_government }}" placeholder="Local government">
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input type="date" class="form-control" name="date_of_birth" id="date_of_birth" value="{{ oldFormInput.date_of_birth }}" placeholder="Date of birth">
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input type="password" class="form-control" name="password" id="password" placeholder="Password">
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input type="password" id="password_confirm" class="form-control" placeholder="Password Confirm">
                                    </div>
                                </div>

                                <div class="text-center">
                                    <button type="submit" class="button button-style button-style-dark button-style-color-2">Sign up</button>
                                </div>

                            </form>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    {% endblock %}